<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>poker/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,291},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,582},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,679},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,873},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,194},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,291},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,388},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,485},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,582},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,679},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,776},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,873},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,194},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,291},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,388},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,485},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,582},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/41.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,679},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/42.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,776},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/43.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,873},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/44.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/45.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/46.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/47.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/48.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/49.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/50.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,97},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/51.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,194},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/52.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,291},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/53.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,388},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/54.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,485},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,582},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,679},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,776},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,873},{87,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,97}</string>
			</dict>
			<key>poker/icon001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,970},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pokers.png</string>
			<key>realTextureFileName</key>
			<string>Pokers.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>