<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>action/touyou/touyou0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,200},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,400},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,600},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,800},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,200},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,200},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,200},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,600},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,400},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,600},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,800},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,600},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>action/touyou/touyou0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,800},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>touyou.png</string>
			<key>realTextureFileName</key>
			<string>touyou.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>